<strong>Olá,</strong>

<p>O {{username}} compartilhou um evento com você, abaixo estão os detalhes</p>

<ul>
  <li>Evento: {{title}}</li>
  <li>Local: {{location}}</li>
  <li>Hora: {{time}}</li>
</ul>
